<!DOCTYPE html>
<html>

<head>
    <meta charset='UTF-8'>
    <meta name="_token" content='{{ csrf.json }}'>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="/css/chat.css" />
</head>

<body>
    <div id="frame">
        <div id="sidepanel">
            <div id="profile" data-id="{{ authUser.getId() }}">
                <div class="wrap">
                    <img id="profile-img" src="{{ authUser.getPicture(true) }}" class="online" alt="" />
                    <p class="fullname">{{ authUser.getFullName() }}</p>
                </div>
            </div>
            <div id="search">
                <label><i class="glyphicon glyphicon-search" aria-hidden="true"></i></label>
                <input type="text" name="filter-contacts" placeholder="Search contacts..." />
            </div>
            <div id="contacts">
                <ul>
                    {% if contacts.isNotEmpty() %}
                        {% for contact in contacts %}
                            {% set contact = contact.contact(authUser).first() %}
                            <li class="contact" data-id="{{ contact.getId() }}">
                                <div class="wrap">
                                    <span class="contact-status {{ contact.chatStatus.isOnline() ? "online" }}"></span>
                                    <img src="{{ contact.getPicture(true) }}" alt="" />
                                    <div class="meta">
                                        <p class="name">{{ contact.getFullName() }}</p>
                                        <p class="preview">Todo: preview message</p>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li class="contact no-contacts">
                            <div class="wrap">
                                <p>No contacts</p>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div id="bottom-bar">
                <button id="addcontact"><i class="glyphicon glyphicon-plus" aria-hidden="true"></i> <span>Add contact</span></button>
                <a href="{{ path_for('auth.account-settings') }}" style="text-decoration: none;"><i class="glyphicon glyphicon-wrench" aria-hidden="true"></i> <span>Settings</span></a>
            </div>
        </div>
        <div class="content" id="content">
            <div class="contact-profile">
                <div class="active-contact">
                    <img src="" alt="" />
                    <p></p>
                </div>

                <div class="menu-icons">
                    <div class="dropdown" id="notification-dropdown">
                        <a href="javascript:void(0)" class="btn btn-link" data-toggle="dropdown" style="text-decoration: none;">
                            <i class="glyphicon glyphicon-bell"></i>

                            {% if notif_num > 0 %}
                                <span class="badge">{{ notif_num }}</span>
                            {% endif %}
                        </a>

                        <ul class="dropdown-menu dropdown-cart dropdown-menu-right" id="notification-menu">
                            {% if notifications.get().isNotEmpty() %}
                                {% for notif in notifications.get() %}
                                    <li>
                                        <span class="item">
                                            <span class="item-left">
                                                <img src="{{ notif.getUser().getPicture(true) }}" alt="" />
                                                <span class="item-info">
                                                    <p>{{ notif.getMessage(authUser) }}</p>
                                                </span>
                                            </span>
                                            <span class="item-right">
                                                {% if notif.isSendRequest(authUser) %}
                                                    <button class="btn btn-info btn-xs accept-request pull-right" data-from-id="{{ notif.from_id }}" data-loading-text='<span class="glyphicon glyphicon-refresh rotating"></span>'>Accept</button>
                                                {% endif %}
                                            </span>
                                        </span>
                                    </li>
                                {% endfor %}
                            {% else %}
                                <li>
                                    <span class="item">
                                        <span class="item-left">
                                            <p>Notification is empty</p>
                                        </span>
                                    </span>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="messages" id="messages">
                <ul></ul>
            </div>
            <div class="message-input">
                <div class="wrap">
                    <input type="text" id="input-message" placeholder="Write your message..." />
                    <button type="button" id="send-message"><i class="glyphicon glyphicon-send" aria-hidden="true"></i></button>
                </div>

                <div class="reconnecting-container" style="display: none">Reconnecting ...</div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/node_modules/bootbox/dist/bootbox.min.js"></script>

    {% include "chat/templates.twig" %}

    <script type="text/javascript">
        window.chatObj = {
            config: {
                host: "{{ config('chat.host') }}",
                port: "{{ config('chat.port') }}",
            },
            user: {
                picture: "{{ authUser.getPicture(true) }}",
                login_token: "{{ authUser.login_token }}"
            }
        };
    </script>
    <script type="text/javascript" src="/js/chat/chat-app.js"></script>
</body>
</html>
